.country {
    margin-left: 0.3rem;
    padding: 0.4rem;
    text-align: left;
    border-radius: 5px;
    text-wrap: none;
}

.country:hover {
background-color: #464646;
transition: background-color 0.2s;
}

.search {
    margin: 0.4rem;
}