.country {
    margin-left: 0.3rem;
    padding: 0.4rem;
    text-align: left;
    border-radius: 3px;
    text-wrap: none;
}

.country:hover {
background-color: #007add;
transition: background-color 0.2s;
}

.search {
    margin: 0.4rem;
}

.flag {
    border-radius: 3px !important;
}