.container {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(184, 184, 184);
    width: 100%;
    border-radius: 15px;

}

.filters {
    display: flex;
    justify-content: left;
}


.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  width: 200px;
  cursor: pointer;  
}