.header {
  background-image: linear-gradient(#004e96, rgb(0, 97, 215));
  color: #ffffff;
    padding: 12px;
    flex: 1;
  }

  .con {
    display: flex;
    width: 100%;
  }

  .headerContainer {
display: flex;
justify-content: center;
width: 100%;
  }

  .sideContainer {
    display: flex;
    justify-content: end;
    width: 50%;
    align-items: center;
      }

.flagButton {
  background-color: #123C69;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

.flagButton:hover {
  background-color: #123C69;
}

.buttons-con {
  margin: 1rem;
}
    