.sidebar {
    width: 270px;
   background-color: #817c7d;
    color: #ffffff;
    overflow-y: auto;
    height: 100vh;
    z-index: 999;
  }

  .sidebar::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #123C69; /* Custom scrollbar thumb color */
    border-radius: 5px;
}
.appTitle {
  font-size: 35px;
  padding: 1rem;
}

  .title {
    font-size: 25px;
    padding: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #555;
  }