.sidebar {
    width: 300px;
   background-color: #004e96;
    color: #ffffff;
    overflow-y: auto;
    height: 100vh;
    z-index: 999;
 }

  .sidebar::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #fdfdfd; /* Custom scrollbar thumb color */
    border-radius: 5px;
}
.appTitle {
  font-size: 35px;
  padding: 1rem;
  
}

  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #555;
  }

  .tabs {
    background-color: #817c7d;
    border: none;
  }

  button:hover {
    background-color: #817c7d;
    border-color: none;
  }

  .nav-link {
    color: white;
    border-color: none;
  }
  .nav-link:hover {
    background-color: #817c7d;
    border-color: none;
  }

  li:hover {
    background-color: #817c7d;
    border-color: none;
  }