@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #007bff; 
    --secondary-color: #6c757d; 
    --font-family: "Figtree", sans-serif;
  }